.App {
  text-align: start;
}

.App-logo {
  padding: 0;
  border: 4px solid #ddd;
  box-sizing: border-box;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e2f1f1;
}

.App-link {
  color: #61dafb;
}

#hpc_pic {
  width: 80%;
  height: 80%;
}

.sponsors {
  height: 60px;
  margin: 0 30px;
}

.profile {
  height: 80px;
  width: 80px;
  margin: 10px 0;
  border: 4px solid #ddd;
  box-sizing: border-box;
}

.organizer {
  height: 120px;
  width: 120px;
  margin: 10px 0;
  border: 4px solid #ddd;
  box-sizing: border-box;
}

.intro {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}