.App {
  text-align: center;
}

.App-logo {
  padding: 0;
  border: 4px solid #ddd;
  box-sizing: border-box;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e2f1f1;
}

.App-link {
  color: #61dafb;
}

.profile {
  height: 80px;
  width: 80px;
  margin: 10px 0;
  border: 4px solid #ddd;
  box-sizing: border-box;
}

.organizer {
  height: 120px;
  width: 120px;
  margin: 10px 0;
  border: 4px solid #ddd;
  box-sizing: border-box;
}

h2 {
  text-align: start;
}

h3 {
  text-align: start;
}